<mat-card fxFlexFill fxLayout="column">
  <ng-container *ngIf="verificating || anchoring; then loadingTpl; else anchorDataTpl"></ng-container>
</mat-card>

<ng-template #loadingTpl>
  <div class="loading" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #anchorDataTpl>
  <mat-card-content fxFlex="1 1 auto">
    <ng-container *ngIf="anchorData; else notVerifiedTpl">
      <pre>{{ anchorData | json }}</pre>
    </ng-container>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button (click)="backClickHandler()">Back</button>
    <a mat-button *ngIf="anchorData" [href]="buildExplorerUrl()" target="_balnk" color="primary">Check in explorer
      <mat-icon>chevron_right</mat-icon></a>
    <button mat-button color="primary" *ngIf="!anchorData" (click)="createAnchor()">
      Create an anchor
    </button>
  </mat-card-actions>
</ng-template>

<ng-template #notVerifiedTpl>
  Hash
  <div class="hash"><b>{{hash}}</b></div>
  does not exists in the blockchain
</ng-template>
