mat-card {
  min-height: 410px !important;
}

pre {
  background: whitesmoke;
  width: 100%;
  padding: 8px;
  overflow: auto;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}

.hash {
  word-break: break-all;
}
