@import '~@angular/material/theming';

@include mat-core();

$lto-anchor-verification-primary: mat-palette($mat-deep-purple);
$lto-anchor-verification-accent: mat-palette($mat-pink, A200, A100, A400);

$lto-anchor-verification-warn: mat-palette($mat-red);

$lto-anchor-verification-theme: mat-light-theme(
  $lto-anchor-verification-primary,
  $lto-anchor-verification-accent,
  $lto-anchor-verification-warn
);
@include angular-material-theme($lto-anchor-verification-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
